<div id="<%= dom_id offering %>">
  <p>
    <strong>Title:</strong>
    <%= offering.title %>
  </p>

  <p>
    <strong>Service provider:</strong>
    <%= offering.service_provider_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= offering.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= offering.category %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= offering.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= offering.email %>
  </p>

</div>
