<%= turbo_frame_tag(dom_id(listing)) do %>


<div class="row mt-2">
<div class="col-md-2">  
  <%# this section is causing turbo to fail to update? %>
<% listing.pictures.each do |picture| %>

<%= link_to image_tag(picture.variant(resize_to_limit: [300, 225]).processed) %>

<% end %>
  </div>

<div class="col"> 
    <div class="row">
    <div class="col"> 
        <strong><%= listing.title %></strong>
      </div>
      <div class="col-md-2 "> 
        <div id="location-in-title ml-5" >
          <i class="fa-solid fa-location-crosshairs"></i>
          <%= listing.location %>
       </div>
     </div>
    </div>

    <%= listing.description %>
    
    <div class="row">
      <div class="col">
        <i class="fa-solid fa-eye"></i>

        <%= pluralize(listing.views, "view") %>

        <i class="fa-solid fa-user"></i>
    
         <%= listing.user.username %>
      </div>
    </div>

    <strong>Category:</strong>
    <%= listing.category %>


  

    <strong>Price:</strong>
    <%= listing.price %>

<% if listing.user == current_user || current_user.is_moderator || current_user.is_administrator %>
  <%= button_to "Destroy this listing", listing, method: :delete %>
<% end %>

<%= link_to "Show this listing", listing_path(listing.id) %>



  </div>
   </div>


<% end %>
