<%= turbo_frame_tag(dom_id(listing)) do %>

<div id="<%= dom_id listing %>">
  <p>
    <strong>Title:</strong>
    <%= listing.title %>
  </p>

  <p>
    <strong>Posted by:</strong>
    <%= listing.user.username %>
  </p>
  <p>
    <strong>Category:</strong>
    <%= listing.category %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= listing.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= listing.location %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= listing.price %>
  </p>

<% listing.pictures_as_thumbnails.each do |picture| %>

<%= link_to image_tag(picture) %>
<% end %>




  <h6><%= pluralize(listing.views, "view") %></h6>

</div>

<% end %>
