<%= turbo_frame_tag(dom_id(listing)) do %>


<div class="row mt-2">
<div class="col-md-2">  
  <%# this section is causing turbo to fail to update%>
<% listing.pictures.each do |picture| %>

<%= link_to image_tag(picture.variant(resize_to_limit: [300, 225]).processed) %>

<% end %>
  </div>

<div class="col">
  <div class="container">
  
    <strong><%= listing.title %></strong>
     
    <%= listing.description %>
  

  
    <strong>Posted by:</strong>
    <%= listing.user.username %>

    <strong>Category:</strong>
    <%= listing.category %>


    <strong>Location:</strong>
    <%= listing.location %>

    <strong>Price:</strong>
    <%= listing.price %>

 

 



  <h6><%= pluralize(listing.views, "view") %></h6>

<% if listing.user == current_user || current_user.is_moderator || current_user.is_administrator %>
  <%= button_to "Destroy this listing", listing, method: :delete %>

<% end %>
<%= link_to "Show this listing", listing_path(listing.id) %>


  </div>
  </div>
   </div>


<% end %>
