
<h1>Listings</h1>


<%= render 'form', listing: Listing.new %>
<%= link_to "New listing", new_listing_path %>

<%= turbo_stream_from "listings", id: "listings" %>


  <% @listings.each do |listing| %>
    <%= render listing %>
    <p>
      <%= link_to "Show this listing", listing %>
    </p>
  <% end %>
