
<%= render @listing %>

<%= render 'comments/form' %>

<h3>Comments</h3>
<%= turbo_stream_from "comments", id: "comments" %>
<% @listing.comments.reverse.each do |comment|  %>
  <%= render comment %>
<% end %>


  <%= link_to "Edit this listing", edit_listing_path(@listing) %> |
  <%= link_to "Back to listings", listings_path %>

  <%= button_to "Destroy this listing", @listing, method: :delete %>
</div>
