
<%= render @listing %>

<%= render 'comments/form' %>

<h3>Comments</h3>
<%= turbo_stream_from "comments", id: "coments" %>
<% @listing.comments.each do |comment|  %>
  <%= render comment %>
<% end %>

<%= link_to 'New Comment',
  new_listing_comment_path(@listing),
  method: :post,
  class: "btn text-dark btn-warning btn-lg" %>
<div>
  <%= link_to "Edit this listing", edit_listing_path(@listing) %> |
  <%= link_to "Back to listings", listings_path %>

  <%= button_to "Destroy this listing", @listing, method: :delete %>
</div>
